body {
    font-family: Arial, Arial, Helvetica, sans-serif
}

.hide {
    display: none;
}

.link {
    text-decoration: underline;
    color:  #0000FF;
}

.clear {
    clear: both;
}

.link:hover {
    cursor: pointer; 
}

a:hover {
    color: rgb(183, 156, 46) !important;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#home {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    font-size: 15px;
    margin: 0 auto -2em;
}

#footer, #push {
    font-size: 15px;
    height: 2em;
}

#footer {
    line-height: 2em;
    background: rgb(62, 73, 17);
    color: white;
    font-family: 'Raleway';
}

#footer a {
    color: white;
}

#footer span {
    margin: 0 10px;
}

#footer span.contact {
    float: right;
    margin: 0;
}

#footer span.contact a {
    color: rgb(143, 173, 49);
}

#index_content {
    display: none;
}

.header {
    font-size: 52px;
    font-family: 'Alfa Slab One';
    color: rgb(143, 173, 49);
    letter-spacing: 1px;
}

.header > img {
    margin-left: 8px;
}

a.button {
    text-decoration: none;
}

button {
    font-family: 'Raleway';
    background: rgb(62, 73, 17);
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .5);
    white-space: nowrap;
    background: -webkit-gradient( linear, left bottom, left top, from(rgb(62, 73, 17)), to(#656d41));
    cursor: pointer;
    text-decoration: none;
}

button:active {
    box-shadow: none;
    position: relative;
    top: 1px;
    left: 1px;
}

input {
    border: 1px solid #444;
    border-radius: 5px;
}

.blur {
    font-style: italic;
    color: #bbb;
}

/* index */

body.index #home {
    margin: 0;
}

/* 
 darker: rgb(166, 178, 177)
 */

body.index #page_background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

body.index #footer > div {
    width: 1024px; 
    margin-left: auto;
    margin-right: auto;
}

body.index #footer > div > div{
    margin: 0 20px;
    border-top: 1px solid rgb(143, 173, 49);
}

body.index #page_background table {
    border-spacing: 0;
    width: 100%;
    height: 100%;
}

body.index #page_background td {
    width: 50%;
    margin: 0;
    padding: 0;
}

body.index #page_background .left_top {
    background: rgb(220, 238, 238);
    height: 423px;
}

body.index #page_background .left_bottom {
    background: rgb(62, 73, 17);
    height: 719px;
}

body.index #page_background .right_top {
    background: rgb(220, 238, 238);
    height: 348px;
}

body.index #page_background .right_bottom {
    background: rgb(62, 73, 17);
    height: 794px;
}

body.index #index_background {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    background: rgb(220, 238, 238);
}

body.index #index_content {
    display: block;
    position: relative;
    width: 1024px;
    height: 1142px;
    background-image: url('/static/img/index-background.png');
}

body.index #index_wrapper {
    padding: 15px 29px;
}

body.index #index_actions > img {
    margin-top: 10px;
    margin-bottom: 10px;
}

body.index #index_actions {
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 24px;
}

body.index #marketing_text {
    float: left;
    width: 350px;
    color: rgb(143, 173, 49);
}

body.index #marketing_text ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body.index #marketing_text li {
    margin: 10px 0;
}

body.index #create_form {
    float: right;
    margin-top: 10px;
}

body.index #create_form input[name="group_name"] {
    color: rgb(143, 173, 49);
    font-family: Palatino;
    font-size: 1em;
    height: 1.5em;
    width: 280px;
    padding-left: 5px;
}

body.index #create_form input[name="group_name"].blur {
    color: #bbb;
}

body.index #create_form button[name="go"] {
    font-size: 1em;
}

body.index #popular_bundles_label {
    position: absolute;
    top: 500px;
    left: 29px;
    font-family: "Raleway";
    font-size: 24px;
    color: rgb(220, 238, 238);
}

body.index #popular_bundles {
    position: absolute;
    top: 585px;
}

body.index .pop_bundle {
    position: absolute;
    width: 220px;
    height: 190px;
    cursor: pointer;
    overflow: hidden;
}

body.index #pop1 {
    left: 45px;
}

body.index #pop2 {
    left: 400px;
}

body.index #pop3 {
    left: 750px;
}

body.index .group_name {
    color: rgb(143, 173, 49);
    font-family: Palatino;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #444;
    padding-bottom: 3px;
}

body.index #popular_bundles .item {
    color: #444;
    padding: 3px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}

body.index #popular_bundles .pop_bundle:hover .item {
    color: rgb(183, 156, 46);
}

body.index #popular_bundles .pop_bundle:hover .group_name {
    color: rgb(183, 156, 46);
    border-bottom: 1px solid rgb(183, 156, 46);
}

body.index .items {
    margin-top: 5px;
}

body.index .title {
    font-weight: bold;
    font-size: 15px;
}

body.index .comment {
    font-size: 13px;
}

/* tpl_groupedit */

body.groupedit #footer {
    padding: 0 40px; 
}

body.groupedit #groupedit_content {
    /*padding: 0 20px;*/
    padding: 15px 40px 0 40px;
}

body.groupedit #groupedit_content > img {
    margin-bottom: 20px;
}

body.groupedit .group_name_section {
    font-family: 'Raleway';
    font-size: 24px;
}

body.groupedit .group_name_section button {
    float: right;
    margin-right: 16px;
}

body.groupedit .group_name_section button:active {
}

body.groupedit .group_name {
    color: #7f992e;
    font-family: Palatino;
    font-size: 24px;
}

body.groupedit .step_dir {
    background: #7f992e;
    font-size: 24px;
    padding: 12px 12px;
    margin: 60px -12px 30px -12px;
}

body.groupedit .step_dir td {
    padding: 0 12px;
}

body.groupedit .step_dir .number div {
    font-family: 'Raleway';
    font-size: 28px;
    background: rgb(62, 73, 17);
    border-radius: 3px;
    padding: 12px 24px;
    color: white;
}

body.groupedit .step_dir .step_title {
    font-family: 'Raleway';
    color: white;
    white-space: nowrap;
}

body.groupedit .step_dir .step_details {
    font-size: 18px;
    width: 100%;
    text-align: left;
}

body.groupedit input {
    font-size: 1em;
}

body.groupedit input.delete {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    font-weight: 900;
    text-shadow: 0px 1px white;
    color: white;
    background: rgb(62, 73, 17);
    box-shadow: 1px 1px 1px 0px #888;
    cursor: pointer;
}

body.groupedit input.delete:active {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: none;
}

body.groupedit table.items {
    table-layout: fixed;
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

body.groupedit table.items tr:nth-child(odd) {
    background: #efefef;
}

body.groupedit table.items td {
    padding: 10px;
    vertical-align: top;
}

body.groupedit table.items .url {
    text-overflow: ellipsis;
    overflow: hidden;
}

body.groupedit table.items .title {
    font-family: Palatino;
    color: #7f992e;
}

body.groupedit table.items .url {
    white-space: nowrap;
}

body.groupedit table.items .delete_td {
    background: white;
}

body.groupedit table.items colgroup.title {
    width: 20%;
}

body.groupedit table.items colgroup.comment {
    width: 50%;
}

body.groupedit table.items colgroup.delete {
    width: 70px;
}

body.groupedit table .edit {
    width: 100%;
}

body.groupedit table textarea {
    height: 8em;
}

body.groupedit .blank {
    color: #666;
    font-style: italic;
}


/* tpl_groupview */

html.show_other, html.show_other body, iframe#other_page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html.show_other, body.show_other {
    overflow: hidden;
}

#table_of_contents {
    position: fixed;
}

#table_of_contents .tab {
    position: fixed;
    left: 40px;
}

#table_of_contents #groupview_content {
    position: fixed;
    height: 100%;
    width: 100%;
    left: -100%;
}

#table_of_contents .pane {
    position: relative;
    width: 35%;
    padding: 0 30px;
    background: rgb(250, 250, 250);
    box-shadow: 1px 1px 1px 0px #888;
}

#table_of_contents .pane_top {
    height: 10px;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #888;
}

#table_of_contents .pane_middle {
    max-height: 90%;
    overflow: hidden;
    border-width: 0 1px;
    border-style: solid;
    border-color: #888;
}

#table_of_contents .pane_bottom {
    height: 15px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #888;
    border-radius: 0 0 8px 8px;
}

#table_of_contents .tab {
    float: left;
    padding: 5px 7px;
    top: -1px;
    position: relative;
    z-index: 102;
    background: rgb(143, 173, 49);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #888;
    border-radius: 0 0 8px 8px;
    box-shadow: 1px 1px 2px #888;
    color: rgb(250, 250, 250);
    /*text-shadow: -1px -1px 1px #888;*/
}

#table_of_contents .tab:hover {
    cursor: pointer;
}

#table_of_contents .arrow {
    visibility: hidden;
}

#table_of_contents .arrow.arrow_on {
    visibility: visible;
}

#table_of_contents #groupview_content .title_bar {
    padding: 5px 8px;
}

#table_of_contents #groupview_content .group_name {
    padding-bottom: 10px;
    font-size: 1.4em;
    cursor: pointer;
}

#table_of_contents .item_view {
    padding: 5px 0;
    cursor: pointer;
}

#table_of_contents a {
    /*color: #222;*/
    color: green;
    text-decoration: none;
}

#table_of_contents .comment {
    display: inline;
}

#table_of_contents.single .item_view.selected {
    padding: 0;
}

#table_of_contents.full .item_view.selected {
    padding: 3px 0;
    border-top: 2px solid rgb(143, 173, 49);
    border-bottom: 2px solid rgb(143, 173, 49);
}

#table_of_contents .item_view:hover a {
    text-decoration: underline;
    /*
    padding-left: 6px;
    border-left: 2px solid rgb(70, 121, 179);
    */
}

#table_of_contents a:visited {
    /*color: #222;*/
}

#table_of_contents .comment {
    margin: 3px 0 3px 0;
    padding-left: 8px;
    font-size: .8em;
    color: #777;
}

#table_of_contents .jspVerticalBar {
    width: 6px;
    background: transparent;
}

#table_of_contents .jspTrack {
    background: transparent;
}
