body {
    font-family: Arial, Arial, Helvetica, sans-serif
}

.hide {
    display: none;
}

.link {
    text-decoration: underline;
    color:  #0000FF;
}

.link:hover {
    cursor: pointer; 
}

html, body {
    height: 100%;
}

#home {
    height: 100%;
    margin: 0 50px 0 50px;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
}

#header {
    font-size: 3em;
}

#footer, #push {
    height: 85px;
}

/* tpl_groupedit */

.groupedit {
    position: relative;
}

.group {
    font-size: 1.2em;
}

#add_item {
    position: absolute;
    right: 5px;
}

.groupedit table {
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
    border: solid 1px black;
}

.groupedit table td {
    padding: 10px;
}

.groupedit table .title, table .url {
    text-overflow: ellipsis;
    overflow: hidden;
}

.groupedit table .url {
    white-space: nowrap;
}

.groupedit table colgroup.title {
    width: 20%;
}

.groupedit table colgroup.delete {
    width: 70px;
}


/* tpl_groupview */

html.show_other, body.show_other, iframe#other_page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html.show_other, body.show_other {
    overflow: hidden;
}

#table_of_contents {
    position:absolute;
    top: 0;
    left: 40px;
    background: white;
}

#table_of_contents .pane {
    padding: 5px;
    background: rgb(255, 141, 48);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 0 0 8px 0;
    box-shadow: 1px 1px 2px #888;
}

#table_of_contents .links {
    background: #FEFFE8;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #888;
    box-shadow: inset 1px 1px 2px 0px #888;
}

#table_of_contents .tab {
    float: left;
    padding: 5px 13px;
    background: rgb(255, 141, 48);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: gray;
    position: relative;
    top: -1px;
    z-index: 102;
    border-radius: 0 0 8px 8px;
    box-shadow: 1px 1px 2px #888;
    color: #FEFFE8;
}

#table_of_contents {
    background: rgba(0, 0, 0, 0);
}

#table_of_contents.closed .pane {
    display: none
}

.grouview .group {
    font-weight: bold;
}
