body {
    font-family: Arial, Arial, Helvetica, sans-serif
}

.hide {
    display: none;
}

.link {
    text-decoration: underline;
    color:  #0000FF;
}

.clear {
    clear: both;
}

.link:hover {
    cursor: pointer; 
}

html, body {
    height: 100%;
}

#home {
    height: 100%;
    margin: 0 50px 0 50px;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
}

#header {
    font-size: 3em;
}

#footer, #push {
    height: 85px;
}

#index_content {
    display: none;
}

/* index */

body.index #index_content {
    display: block;
}

body.index #create_form {
    text-align: center;
    font-size: 2em;    
    margin: 0 auto;
}

body.index #create_form div {
    margin: 20px; 
}

body.index #create_form input[name="group_name"] {
    font-size: 1em;
}

body.index #create_form button[name="go"] {
    font-size: 1em;
}

/* tpl_groupedit */

body.groupedit {
    position: relative;
}

body.groupedit .group_name {
    font-size: 1.2em;
}

body.groupedit table {
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
    border: solid 1px black;
}

body.groupedit table td {
    padding: 10px;
}

body.groupedit table .title, table .url {
    text-overflow: ellipsis;
    overflow: hidden;
}

body.groupedit table .url {
    white-space: nowrap;
}

body.groupedit table colgroup.title {
    width: 20%;
}

body.groupedit table colgroup.comment {
    width: 40%;
}

body.groupedit table colgroup.delete {
    width: 70px;
}

body.groupedit .blank {
    color: #666;
    font-style: italic;
}


/* tpl_groupview */

html.show_other, html.show_other body, iframe#other_page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html.show_other, body.show_other {
    overflow: hidden;
}

#table_of_contents {
    position: fixed;
}

#table_of_contents .tab {
    position: fixed;
    left: 40px;
}

#table_of_contents #groupview_content {
    position: fixed;
    height: 100%;
    width: 100%;
}

#table_of_contents .pane_top {
    width: 35%;
    height: 10px;
    padding: 0 30px;
    background: rgb(250, 250, 250);
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #888;
    box-shadow: 1px 1px 1px 0px #888;
}

#table_of_contents .pane {
    width: 35%;
    max-height: 90%;
    overflow: hidden;
    background: rgb(250, 250, 250);
    padding: 0 30px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #888;
    box-shadow: 1px 1px 1px 0px #888;
}

#table_of_contents .pane_bottom {
    width: 35%;
    height: 15px;
    padding: 0 30px;
    background: rgb(250, 250, 250);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #888;
    border-radius: 0 0 8px 8px;
    box-shadow: 1px 1px 1px 0px #888;
}

#table_of_contents .tab {
    float: left;
    padding: 5px 7px;
    top: -1px;
    position: relative;
    z-index: 102;
    background: rgb(171, 217, 74);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #888;
    border-radius: 0 0 8px 8px;
    box-shadow: 1px 1px 2px #888;
    color: rgb(250, 250, 250);
    /*text-shadow: -1px -1px 1px #888;*/
}

#table_of_contents .tab:hover {
    cursor: pointer;
}

#table_of_contents .arrow {
    visibility: hidden;
}

#table_of_contents .arrow.arrow_on {
    visibility: visible;
}

#table_of_contents #groupview_content .title_bar {
    padding: 5px 8px;
}

#table_of_contents #groupview_content .group_name {
    margin-bottom: 10px;
    font-size: 1.4em;
    cursor: pointer;
}

#table_of_contents .item_view {
    padding: 5px 0;
    cursor: pointer;
}

#table_of_contents a {
    /*color: #222;*/
    color: green;
    text-decoration: none;
}

#table_of_contents .comment {
    display: inline;
}

#table_of_contents.single .item_view {
    padding: 0;
}

#table_of_contents.full .item_view.selected {
    padding: 3px 0;
    border-top: 2px solid rgb(171, 217, 74);
    border-bottom: 2px solid rgb(171, 217, 74);
}

#table_of_contents .item_view:hover a {
    text-decoration: underline;
    /*
    padding-left: 6px;
    border-left: 2px solid rgb(70, 121, 179);
    */
}

#table_of_contents a:visited {
    /*color: #222;*/
}

#table_of_contents .comment {
    margin: 3px 0 3px 0;
    padding-left: 8px;
    font-size: .8em;
    color: #777;
}

#table_of_contents .jspVerticalBar {
    width: 6px;
    background: transparent;
}

#table_of_contents .jspTrack {
    background: transparent;
}
