<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<html>
    <head>
        <rel="stylesheet" type="text/css" href="css/main.css" />
        <meta http-equiv="content-type" content="text/php; charset=utf-8" />
        <title>Lasso 'em</title>

        <script type="text/javascript" src="/static/lib/jquery-1.7.1.js"></script>
        <script type="text/javascript" src="/static/lib/json2.js"></script>
        <script type="text/javascript" src="/static/lib/underscore.js"></script>
        <script type="text/javascript" src="/static/lib/backbone.js"></script>
        <script type="text/javascript" src="/static/lib/logged-ajax.js"></script>
        <script type="text/javascript" src="/static/lib/ICanHaz.js"></script>

        {% block extrahead %} {% endblock %}

    </head>

    <body>
        {% block content %} {% endblock %}

        <hr>
        <input type="text" id="debug_ajax_url" size=100 /><br>
        <textarea id="debug_ajax_data" cols=100 rows=20></textarea><br>
        <iframe id="debug_ajax_result" width="100%"></iframe>

        {% block extrascript %} {% endblock %}
    </body>
</html>
