<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<html>
    <head>
        <meta http-equiv="content-type" content="text/php; charset=utf-8" />
        <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Raleway:100' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css-lib/ui-lightness/jquery-ui-1.8.16.custom.css" />
        <link rel="stylesheet" type="text/css" href="/static/css-lib/jquery.jscrollpane.css" />
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
        <title>Lasso 'em</title>

        <script type="text/javascript" src="/static/lib/jquery-1.7.1.js"></script>
        <script type="text/javascript" src="/static/lib/jquery-ui-1.8.16.custom.min.js"></script>

        <script type="text/javascript" src="/static/lib/jscrollpane/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="/static/lib/jscrollpane/mwheelIntent.js"></script>
        <script type="text/javascript" src="/static/lib/jscrollpane/jquery.jscrollpane.js"></script>

        <script type="text/javascript" src="/static/lib/json2.js"></script>
        <script type="text/javascript" src="/static/lib/underscore.js"></script>
        <script type="text/javascript" src="/static/lib/backbone.js"></script>
        <script type="text/javascript" src="/static/lib/ICanHaz.js"></script>

        {% block extrahead %} {% endblock %}

    </head>

    <body class="{{ body_class }}">
        <div id="home">
            <div id="wrapper">
                <div id="header">
                    Bundle Nut
                </div>
                {% block content %} {% endblock %}
                <div id="push"></div>
            </div>
            <div id="footer">
                by Us
            </div>

            {% if debug %}
            <hr>
            <input type="text" id="debug_ajax_url" size=100 /><br>
            <textarea id="debug_ajax_data" cols=100 rows=20></textarea><br>
            <iframe id="debug_ajax_result" width="100%"></iframe>
            {% endif %}
        </div>

        <div id="table_of_contents"></div>
        <div id="loading" class="hide"></div>
        <iframe id="other_page"></iframe>

        <script type="text/javascript" src="/static/lib/logged-ajax.js"></script>
        {% block extrascript %} {% endblock %}
    </body>
</html>
