{% extends "base.html" %}

{% block content %}
<div id="content"></div>
{% endblock %}

{% block extrascript %}

{% verbatim %}

<script id="tpl_index" type="text/html"> <div>
    Create Group:
    <input id="group_name" type="text" />
    <input id="create" type="submit" />
</div> </script>

<script id="tpl_groupedit" type="text/html">
<div class="groupedit">
    <span class="group"> Group: {{ name }} </span>
    <br><br><a href="{{view_link}}">View Link</a><br>
    <table>
        <colgroup class="title">
        <colgroup class="url">
        <colgroup class="comment">
        <colgroup class="delete">
        <thead>
            <tr>
                <th> Title </th>
                <th> URL </th>
                <th> Comment </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="items">
        </tbody>
    </table>
</div>
</script>

<script id="tpl_groupeditDenied" type="text/html">
<div>
    Access Denied.
</div>
</script>

<script id="tpl_itemedit" type="text/html">
    <td class="title"></td>
    <td class="url"></td>
    <td class="comment"></td>
    <td> <input class="delete" type="submit" value="Delete"></td>
</script>

<script id="tpl_groupview" type="text/html">
<div class="groupview">
    <div class="pane">
        <div id="items">
            <div class="group_name">{{ name }}</div>
            <div id="beforeCurrent" class="wrapper"></div>
            <div id="current"></div>
            <div id="afterCurrent" class="wrapper"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="tab">
    <img class="left_arrow" src="/static/img/left_arrow.png">
    LL
    <img class="right_arrow" src="/static/img/right_arrow.png">
</div>
</script>

<script id="tpl_itemview" type="text/html">
    <div class="title">
        <a href="{{ url }}">{{ title }}</a>
        <div class="comment">{{ comment }}</div>
    </div>
</script>

{% endverbatim %}

<script type="text/javascript" src="/static/main.js"></script>
{% endblock %}
