{% extends "base.html" %}

{% block content %}
<div id="content">
</div>
<div id="index_content">
    <div id="page_background">
        <table>
            <tr>
                <td>
                    <div class="left_top"></div>
                    <div class="left_bottom"></div>
                </td>
                <td>
                    <div class="right_top"></div>
                    <div class="right_bottom"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="index_background">
        <div id="index_outer_wrapper">
            <div id="index_wrapper">
                <div class="header">
                    <a href="/">
                        Bundlenut<img src="/static/img/nut-for-logo.png" />
                    </a>
                    <div class="tag_line">
                        Bundle the web. Share it.
                    </div>
                </div>
                <div id="index_actions">
                    <img class="header_sep" src="/static/img/large-arrow.png" />
                    <div>
                        <div id="marketing_text">
                            <ul>
                                <li>Create bundles of links.</li>
                                <li>Browse them with our handy bundle browser.</li>
                                <li>Share!</li>
                            </ul>
                        </div> 
                        <div id="create_form">
                            <div id="index_create_label">
                                Create a Bundle
                                <img src="/static/img/small-arrow-gray.png" />
                            </div>
                            <div>
                            <form>
                                <input id="create_group_name" name="group_name" type="text" title="Title"/>
                                <button name="go"> Go </button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="popular_bundles_label">
                Sample Bundles
                <img src="/static/img/small-arrow-green.png" />
            </div>
            <div id="popular_bundles">
                <div id="pop1" class="pop_bundle"></div>
                <div id="pop2" class="pop_bundle"></div>
                <div id="pop3" class="pop_bundle"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrascript %}

{% verbatim %}

<script id="tpl_groupsummary" type="text/html">
    <div class="group_name">{{ name }}</div>
    <div class="items">
        {{#item_set}}
            {{#title}}
            <div class="item">
                <span class="title">{{ title }}</span>
                {{#comment}}
                    - <span class="comment">{{ comment }}</span>
                {{/comment}} 
            </div>
            {{/title}}
        {{/item_set}}
    </div>
</script>

<script id="tpl_groupedit" type="text/html">
<div id="groupedit_content">
    <div class="header">
        <a href="/">
            Bundlenut<img src="/static/img/nut-for-logo.png" />
        </a>
    </div>
    <img class="header_sep" src="/static/img/large-arrow.png" />
    <div class="group_name_section"> Bundle Title :
        <span class="group_name"></span>
        <a class="button" href="{{view_link}}"><button>Browse Bundle</button></a>
    </div>
    <table class="step_dir">
        <tr>
            <td class="number"><div>#1</div></td>
            <td class="step_title">Save this Page</td>
            <td class="step_details">In order to modify your bundle in the future you'll need to return to this page. Bookmark it!</td>
        </tr>
    </table>
    <table class="step_dir">
        <tr>
            <td class="number"><div>#2</div></td>
            <td class="step_title">Add links to your Bundle</td>
            <td class="step_details">Click on anything to change it. Drag and drop to reorder.</td>
        </tr>
    </table>
    <table class="items">
        <colgroup class="title">
        <colgroup class="url">
        <colgroup class="comment">
        <colgroup class="delete">
        <tbody id="items">
        </tbody>
    </table>
    <table class="step_dir">
        <tr>
            <td class="number"><div>#3</div></td>
            <td class="step_title">Browse and Share</td>
            <td class="step_details">
                To share, send this link to your friends: {{ view_link }}
            </td>
            <td class="extra">
                <a class="button" href="{{view_link}}"><button>Browse Bundle</button></a>
            </td>
            </div>
        </tr>
    </table>
</div>
</script>

<script id="tpl_groupeditDenied" type="text/html">
<div>
    Access Denied.
</div>
</script>

<script id="tpl_itemedit" type="text/html">
    <td class="title"></td>
    <td class="url"></td>
    <td class="comment"></td>
    <td class="delete_td"> 
        <input class="delete" title="Delete" type="submit" value="&mdash;">
    </td>
</script>

<script id="tpl_groupview" type="text/html">
<div id="groupview_content">
    <div class="pane pane_top"></div>
    <div class="pane pane_middle">
        <div id="items">
            <div id="beforeCurrent" class="wrapper">
                <div class="group_name">{{ name }}</div>
                <div class="bundlenut">
                    brought to you by <a href="http://www.bundlenut.com">www.bundenut.com</a>
                </div>
            </div>
            <div id="current"></div>
            <div id="afterCurrent" class="wrapper"></div>
        </div>
    </div>
    <div class="pane pane_bottom"></div>
</div>
<div class="tab">
    <div id="left_arrow" class="arrow">
        <img src="/static/img/left_arrow.png">
    </div>
    <div id="logo">
        <img src="/static/img/nut-for-tab.png" /></span>
    </div>
    <div id="right_arrow" class="arrow">
        <img src="/static/img/right_arrow.png">
    </div>
</div>
</script>

<script id="tpl_itemview" type="text/html">
    <div class="title">
        <a href="{{ url }}">{{ title }}</a>
        {{#newWindow}}<span class="new_window">(opens in a new window)</span>{{/newWindow}}
        <div class="comment">{{ comment }}</div>
    </div>
    <table class="full_url">
        <tr>
            <td class="label">URL: </td>
            <td class="input"><input classu="text" value="{{ url }}" /></td>
        </tr>
    </table>
</script>

{% endverbatim %}

<script type="text/javascript" src="/static/main.js"></script>
{% endblock %}
